@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #0f0f2d;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    place-items: center;

    min-width: 100vw;
    min-height: 100vh;
}

@keyframes scroll-marquee {
    0% {
        transform: translateX(2%);
    }
    100% {
        transform: translateX(-60%);
    }
}

.animate-marquee {
    animation: scroll-marquee 10s linear infinite alternate;
    will-change: transform;
}
